body {
  font-family: Arial, sans-serif;
  background-color:aqua;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:black;
  padding: 0;
  border-radius: none;
  margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo img {
  width: 50px;
  height: auto;
  margin:10px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
  
}

.navbar-menu li {
  margin:0;
  display: inline;
  text-align: right;
}

.navbar-menu  a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  
}
.navbar-menu  a:hover {
  background-color:red; /* Lighter background on hover */
  border-radius: 4px;
  color: white;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  
}

.bar {
  height: 2px;
  width: 20px;
  background-color: white;
  margin: 3px 3px 3px 3px;
  transition: 0.3s;
}

.content-section {
  display: none;
  padding: 70px;
  background-color: #f4f4f4;
  border-top: 2px solid #333;
}

.content-section.active {
  display: block
}

@media screen and (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color:#444;
      position:absolute;
      top: 60px;
      left: 0;
    
  }

  .navbar-toggle {
    display: flex; /* Show toggle on small screens */
}

  .navbar-menu.active {
      display: flex;
  }
}



.map {
  width:400px ;
  height: 200px;
}

#mapcontainer {
        height: 400px;
        width:600px;
        margin-left: auto;
       position: relative;
       margin-right: 40px;
    bottom: 20px;
    border-radius: 20px 20px 20px 20px;
}

.header {
background-image: url(image/autumn-leaves-blur-close-up-65279.jpg);
  background-size: cover;
  background-position: center;
  padding:20px;
  text-align:center;
  color:white;
  height: 55vh;
  width: 100%;
  font-size: 30px;
  justify-content: center;
  align-items:center;
  text-align: center;
  margin-top: 70px;
}
 




input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
}

button {
  padding: 10px ;
  background-color:wheat;
  color:black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
}

button:hover {
  background-color:#333;
}

.weather-container {
  text-align: left;
  padding: 20px;
  margin: 50px auto;
  background-color: white;
  width:100%;
  display: flex;
  flex-direction:row;
  gap: 30px;
  
  
}

.weather-container img {
  width: 100px;
  height: 100px;
  margin: 10px;
  
}
#country-flag {
  width: 100px;
  height: 100px;
}

h2 {
  font-size: 50px;
  margin: 5px;
  color: #004d40;
}
h3{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#city-name {
  font-size: 1em;
}

#map{
  width: 1800px;
  height: 900px;
  margin-left:  auto;
}


 
 .close-button {
  font-weight: bolder;
  position: absolute;
  top: 90px;
  right: 20px;
  cursor: pointer;
  z-index: 10000; /* Make sure it's above the map */
}

.app-container {
  display: flex;
  justify-content: space-between;
  border: 5px solid #ccc;
  padding: 10px;
  width: 100%; 
  height: 500px;
  margin: 50px auto;
  background-color:white; 
}

.weather-icon {
  width: 30px;
  height: 30px;
  padding: 15px;
  
}
.temp-range {
  color: red;
  padding: 9px;
}

.hourly-forecast{
  flex:2;
   margin: 0px 20px 5px 300px;
height: 300px;
width: 100px;}

.daily-forecast{
  flex: 2;
  margin: 0px, 0px,5px, 400px;
  height: 300px;
}

.chart-container {
  width: 100%;
  height: 400px;

  border-radius: 8px;
  background-color: #f5f5f5;}

  .hourly-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  
}

.hourly-entry .time {
  font-size: 16px;
  margin-bottom: 5px;
}

.hourly-entry .temp {
  font-size: 14px;
  margin-top: 5px;
}

#current-time{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: black;
}

  

  
